/*-----banner----*/

.banner {
	margin:0px auto;
}


/*-----header----*/

/* Remove margins and padding from the list, and add a background color */
header nav ul.topnav {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #F27E2A;
}

header nav ul.topnav li {
	float: left;
}

header nav ul.topnav li a {
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

header nav ul.topnav li a:hover {
	background-color: #f15f29;
}	


/* Hide the list item that contains the link that should open and close the topnav on small screens */
header nav ul.topnav li.icon {
	display: none;
}



/*-----body-----*/

#title {
	height:10%;
	margin:0 auto;
	width:100%;
}


#about {
	padding: 0 2em 2em 2em;	
}

#about > img {
	width: 400px;
	display: block;
	margin: 0 auto;
	
}

#TeamDscp {
	text-align: center;
}
	

/*-----footer-----*/

footer {
	width: 100%;
	background-color: #F27E2A;
	padding: 60px 0px;
	clear: both;
}

.footer-contact {
	width: 100%;
}

.footer-contact div {
	display: inline-block;
}
.footer-contact i {
	background-color: #F27E2A;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: center;
}

.footer-contact i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-contact p{
	display: inline-block;
	color: #ffffff;
	vertical-align: center;
	margin:0;
}

.footer-contact p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-contact p a{
	color: #ffffff;
	text-decoration: none;
}




/*-----responsive design-----*/

/* When the screen is less than 44em wide, hide all list items. Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:44em) {
	header nav ul.topnav li:not(:last-child) {display: none;}
	header nav ul.topnav li.icon {
		float: right;
		display: inline-block;
		height: 3em;
		padding-bottom: 0.5em;
	}
	header nav ul.topnav li.icon a {
		font-size: 2em;
	}
}



/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:300px) {

	body {
		font-size: 2em;
		margin: 0 auto;
	}
	
	.banner {
		font-size: 2.3em;
		padding: 0 1em 2em 1em;
	}
	
	/*-----header-----*/

    header nav ul.topnav.responsive {
		position: relative;
	}
    header nav ul.topnav.responsive li.icon {
		position: absolute;
		right: 0;
		top: 0;
    }
    header nav ul.topnav.responsive li {
		float: none;
		display: inline;
    }
    header nav ul.topnav.responsive li a {
		display: block;
		text-align: left;
		font-size: 2em;
    }
	
	
	/*-----body-----*/
	
	#about {
		padding: 0 0.5em 2em 0.5em;	
		font-size: 1em;

	}
	
	#about > img {	
		width: 40em;
		display: block;
		margin: 0 auto;
	
	}
	
	/*-----footer-----*/
	.footer-contact {
		font: bold 14px sans-serif;
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	
	.footer-contact div {
		display: block;
		font-size: 2em;
	}
	

	.footer-contact p {
		font-size: 1.7em;
	}
	
	.footer-contact i.fa-map-marker {
		font-size: 2em;
	}
	
	.footer-contact i.fa-phone {
		font-size: 2em;
	}
		
	.footer-contact i.fa-envelope{
		font-size: 2em;
	}
	
}



